# AWS Integrations team owned repository

.github/ @DataDog/aws-integrations
.gitlab-ci.yml @DataDog/aws-integrations

# AWS templates

/aws* @DataDog/aws-integrations

# Agentless Scanning templates
/aws_quickstart/datadog_agentless_* @DataDog/k9-agentless @DataDog/aws-integrations
