# AWS Integrations team owned repository

.github/ @DataDog/aws-ints-core
.gitlab-ci.yml @DataDog/aws-ints-core

# AWS templates

/aws* @DataDog/aws-ints-core

# Agentless Scanning templates
/aws_quickstart/datadog_agentless_* @DataDog/k9-agentless @DataDog/aws-ints-core
